* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color-primary);
  font-family: 'Gilroy', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  display: block;
  width: 100vw;
}
h1 {
  font-family: 'Galien', sans-serif;
  color: var(--font-color-primary);
}
p {
  font-family: 'Gilroy', sans-serif;
  color: var(--font-color-secondary);
}
a {
  text-decoration: none;
  color: var(--link-font-color);
  transition: 0.7s;
  &:hover {
    color: var(--link-font-color-hover);
    transition: 0.7s;
  }
}
