:root {
  --bg-color-primary: #fff;
  --font-color-primary: rgba(31, 63, 104, 1);
  --font-color-secondary: hsla(214, 54%, 26%, 0.6);
  --font-color-white: #fff;
  --button-color-main: rgba(90, 152, 208, 1);
  --button-color-main-hover: rgb(57, 137, 207);
}
