.form-feedback {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .button-main {
    width: 100%;
    margin-top: 30px;
  }
}
@keyframes notification {
  0% {
    top: -100px;
  }
  50% {
    top: 100px;
  }
  100% {
    top: -100px;
  }
}

.alert {
  width: 10%;
  padding: 10px;
  background-color: rgba(172, 222, 255, 0.726);
  border-radius: 10px;
  position: absolute;
  z-index: 200;
  border: 5px;
  text-align: center;
  animation: notification 5.5s 1 ease-in-out;
  top: -100px;
  left: 45%;
  right: 45%;
}
