extends ../layout/main
include ../components/widget
block variables
  - var title = 'Test work';
  - var description = 'Test work for DE';

block content
  .app
    include ../components/header
    include ../components/content
    include ../components/footer
  include ../components/modal